@import url('https://fonts.googleapis.com/css?family=Open+Sans|Scope+One|Raleway');

@font-face {
  font-family: 'HelveticaNeuee';
  font-weight: normal;
  src: url('HelveticaNeueeTextW01-Lt/HelveticaNeueeTextW01-Lt.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeuee';
  font-weight: bold;
  src: url('HelveticaNeueeTextW01-Bd/HelveticaNeueeTextW01-Bd.woff') format('woff');
}
